[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true

axum = { version = "0.8.8", features = ["json", "macros"] }
async-stream = "0.3.6"
futures-core = "0.3.31"
